// Body
$body-bg: #3c3c3c;
$colormenu:black;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$theme-colors: (
  "primary":    $colormenu,
  "secondary":  $colormenu,
  "success":    #9D4EDD,
  "info":       #0DCAF0,
  "warning":    #FFC107,
  "danger":     #DC3545,
  "light":      #F8F9FA,
  "dark":       #212529
);
.navbar{
    background-color: $colormenu;
}

.navbar a{
    color: white;
}

.navbar a:hover{
    color: white;
}

.navbar div{
    background-color: $colormenu;
    margin:0px;
}

.mida-logo{
    width: 20%;
    height: 25%;
    margin-left: 5px;   
}


.container{
    margin-left: 0cm;
    margin-right: 0cm;
}

.navbar-expand-md{
    width: 100%;
}

main {
    display: flex;
    width: 100%;
    height: 90%;

}

aside {
    width: 20%;
    background-color: #cbcbcb ;
    margin: 15px;
    margin-top: 0px;
    border: 2px solid black;


}

article {
    width: 80%;
    background-color: #cbcbcb ;
    margin-top: 0px;
    margin-right: 5px;
    border: 2px solid black;


}

article img{
    height: 100%;
    width: 100%;


}

.botonera2 {
    display: flex;
    justify-content: flex-start; 
    align-items: stretch; 
    flex-direction: column;  
    height: 100%;
    padding: 5px;
    list-style: none;

    
}

ul.botonera2 li > a {
    display: block;
    background: #ffd74d;
    border: 2px solid black;
    padding: 6px;
    text-align: center;
    color: black;
    margin: 5px;  
    text-decoration: none;

}

.perfils-publics {
    display: flex;
    width: auto;
    background-color: #3c3c3c ;
    border: 2px solid black;
    margin-left: 8px;
    margin-right: 5px;
    margin-bottom: 50px;
    height:auto;

}


.botonera-perfils {
    display: flex;
    justify-content: flex-start; 
    align-items: stretch; 
    flex-direction: column;  
    padding: 5px;
    list-style: none;

    
}

ul.botonera-perfils li > div {
    display: flex;
    background: #cbcbcb;
    border: 2px solid black;
    text-align: center;
    color: black;
    margin: 5px; 
 
}

ul.botonera-perfils li > div > img {
    height:100%; 
    width: 20%;
 
}

ul.botonera-perfils li > div > p {
    font-size:3vh; 
    margin-top:7px; 
    margin-left:6px;
}



.flex-post{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

}

.flex-places{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}


.div-bnt-menu{
    display: flex;
    position: sticky; 
    bottom: 1vh;
    justify-content: center;
    
}
    
.div-bnt-menu a, .div-bnt-menu a:hover {
    margin:0.5vh; 
    border-radius: 50px; 
    background-color:#ffd74b; 
    line-height:32px; 
    border:0.3vh solid black; 
    height: 4vh; 
    width: 4vh; 
    padding-left:1vh; 
    color: black;
    bottom:4vh;
    right:auto;
}
    
    
.div-posts{
    border: 0.3vh solid black; 
    margin:30px;  
    height: 70vh; 
    width: 40%; 
    background-color:#BCBCBC;
}

.div-places{
    display: flex;
    border: 0.3vh solid black; 
    margin: 30px;  
    height: 50vh; 
    width: 100%; 
    background-color:#BCBCBC;
}


.div-foto-nom{
    display: flex;
}

.grid{
    display: grid;
}

.img-perfil{
    height:7vh; 
    width: 5vh; 
    margin-top:1vh; 
    margin-left:1vh; 
    border: 0.3vh solid black
}

.mapa-places{
    width: 40%;
    height: 47.5vh;
    margin: 1vh;
    border:0.3vh solid black;
}

.h1-nom{
    margin-left:1vh; 
    margin-top:2vh; 
    font-size:4vh;
}
.h1-nom-places{
    margin-left:0.5vh; 
    margin-top:1vh; 
    font-size:2vh;
    width: 100%;
}

.img-post{

    height: 35vh; 
    width: 95%; 
    margin:auto; 
    margin-top:1vh; 
    display:block; 
    border:0.3vh solid black;
}


.img-place{
    height: 25vh; 
    width: 60%; 
    margin:1vh; 
    display:block; 
    border:0.3vh solid black;
}
.div-btn-post{
    display:flex; 
    margin:1vh; 
    text-align:center;

}

.div-btn-post a{
    margin-top: 0px;
    margin:0.5vh; 
    border-radius: 50px; 
    background-color:#ffd74b; 
    line-height:32px; 
    border:0.3vh solid black; 
    height: 4vh; 
    width: 4vh; 
    padding:1px;
    color:black;

}

.btn-derecha{
    margin-left: auto !important;
}

.caja-comentarios{
    height: 17vh; 
    width: 95%; 
    margin:auto; 
    margin-top:1vh; 
    display:block; 
    border:0.3vh solid black; 
    border-radius: 20px; 
    background-color:white;
}

.caja-comentarios-places{
    height: 14.5vh; 
    width: 95%; 
    margin:auto; 
    margin-top:1vh; 
    display:block; 
    border:0.3vh solid black; 
    border-radius: 20px; 
    background-color:white;
}

.caja-comentarios-places p{
    margin-left: 1vh;
    margin-top: 1vh;
}

.estrellas{
    display: flex;
    margin: 2vh;    
    font-size: 2vh;

}

.estrellas a, .estrellas a:hover{
    -webkit-text-stroke: 2px black;
    color: white; 
    text-decoration: none;
    margin: 0.6vh;

}

.caja-comentarios p{
    margin-top:1vh; 
    margin-left:1vh;
}
.h1-perfils-publics{
    color:white; 
    justify-content:center; 
    margin-top:8px; 
    font-size:4vh;


}

.card-body{
    background-color:#CBCBCB;


}


.card-header{
    background-color:black !important;
    color:white !important; 

}

.form-control{

    background-color: white !important;

}

.navbar-toggler{ 
    
    color:white !important;

}

.left{
    float: left;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:left;
    align-items:center;
}
.center{
    width: 100%;
    height: 100%;
    justify-content:center;
    align-items:center;
}
.right{
    float: right;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:right;
    align-items:center;
    color: white;
    margin-right: 20px;
}

.mostrar-botones{
    display: none;
    

}





@media (max-width: 830px){

    .esconder-aside{
        display: none;
    }

    .img-media{
        width: 100%;
        margin: 0;
        margin-top: 0px;
        height: 100vh;


    }
    .buscador{
        display: none;


    }
    .collapse:not(.show){
        display: block !important;
    }

    .mostrar-botones{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        list-style: none;
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: #BCBCBC;
        border: 2px solid black;
    }
    
    .botonera2{
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-direction: row;
        height: 100%;
        width: 100%;
        padding: 5px;
        list-style: none;

    }

    ul.botonera2 li > a {
        display: block;
        background: #ffd74d;
        border: 2px solid black;
        padding: 10px;
        padding-right: 80px;
        padding-left: 80px;
        text-align: center;
        color: black;
        text-decoration: none;
        width: 100%;
        font-size: 1.5em;
    }

    main{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 768px){
    .navbar-expand-md {

        flex-wrap: nowrap !important;
        justify-content: center !important;
    }
}

@media (max-width: 992px){

    .flex-post{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .div-posts{
        width: 70%;
    }

    .div-places{
        margin-left: 0px;
    }
}

.div-about{
    display: flex;
    align-items: center;
    width: 100%;
    height:100vh;
    justify-content: center;
    flex-wrap: wrap;
    
}

.container{

    display: flex;
    width: 100%;
    max-width: 1100px;
    justify-content: space-between;
    
}
.contenido{
    display: flex;
    flex-direction: column;
}
.card{
    width: 30%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #BCBCBC;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;

}

.card:hover{
    box-shadow: 5px 5px 20px white;
    transform: translateY(-3%);
}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido h3{

    font-weight:400; 
    margin-bottom: 15px;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: black;
    border :1px solid #ffd74b;
    border-radius: 4px;
    transition: all 400ms ease;

}

.card .contenido a:hover{
    background-color: #ffd74b;
    color: black;

}

.contenedor-imagenes{
    position: relative;
    width: 400px;
    height: 500px;
    cursor: pointer;
}

.contenedor-imagenes div{
    position: absolute;
    width: 100%;
    height: 100%;
}

.caja1-marc{

    background: url(/public/img/foto.webp);
    background-size: 100% 100%;
}

.caja2-marc{

    background: url(/public/img/logo.png);
    background-size: 100% 100%;
    transition: 0.6s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
}

.caja2-marc:hover{

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.caja1-marc:hover ~ .caja2-marc{

    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}


.trabajo-marc{

    padding: 1.5rem 5rem;
    background: white;
    border: 0 solid white;
    cursor: default;
    position: relative;
    overflow: hidden;
}

.trabajo-marc::before{
    content: 'MAQUETADOR';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
    transition: .2s ease;
    
}

.trabajo-marc::after{
    content: 'Follador de abuelas';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: grey;
    transition: .2s ease;
    opacity: 0;
}

.trabajo-marc:hover::before{
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;    
}

.trabajo-marc:hover::after{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;    
}











